<h1>Xin chào tất cả mọi người</h1>
<form asp-action="Student">
    <label>Họ và tên:</label>
    <input type="text" name="name">
    <label>Địa chỉ:</label>
    <input type="text" name="address">
    <input type="submit" value="Gửi dữ liệu">
</form>

<h1>@ViewBag.Message</h1>
<h>@TempData["message"]</h