<form asp-action="Index">
    <input type="number" name="PersonId"/>
    <input type="string" name="FullName"/>
    <input type="string" name="Address"/>
    <input type="submit" value="Send"> 
</form>
<h1>@ViewBag.message</h1>